/* Cor de fundo e texto */
body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #0d6efd;
    background-image: url('https://img.freepik.com/premium-vector/vector-illustration-programmer-flat-design-style_844724-3945.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    color: white;
    padding: 80px 0; /* Ajuste o padding para dar espaço ao conteúdo */
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    z-index: 1; /* Garante que o texto fique acima da imagem */
}

footer {
    background-color: #0d6efd;
}

/* Estilizando a Navbar */
.navbar {
    padding: 1rem 0;
}

/* Estilo dos botões do Card */
.card .btn {
    background-color: #0d6efd;
    color: white;
}

/* Efeito de Hover nos botões */
.card .btn:hover {
    background-color: #084298;
}

/* Seção de Contato */
section#contato {
    background-color: #f1f1f1;
}

section#contato .form-control {
    border-radius: 0.5rem;
}

/* Seção Sobre Mim */
section#sobre {
    background-color: #e9ecef;
}

section#sobre .container {
    max-width: 800px;
}

/* Estilo geral */
h1, h2 {
    font-weight: bold;
}

.bg-dark-custom {
    background-color: #343a40;
}
